body {

	padding: 0;
	margin: 0;
	background-color: #34314c;
	color:#00BFFF;
	font-family: "Open Sans", "Sans Serif";	

}
h1{
	font-style: italic;
	text-align: center;
	font-size: 4em;
	color: #00BFFF;
	text-transform: uppercase;
}
.error {

	font-size: 2.5em;
	text-align: center;
	background-color: #ff7473;
	color:#fff;

}
#verif {

	margin-left: 200px;
	border:solid 2px #00BFFF;
	background-color: #34314c;
	color: #00BFFF;
	font-size: 30px;
	width: 200px;

}
button#restart {

	margin-left:1em;
	width:90px;
	height:90px;
	box-shadow:2px 2px 8px ; 
	border-radius:50%;
	position: absolute;
	top:50px;
	background-color: transparent;
	color: #D499B9;
	font-size: 30px;
}
#months {
	display:inline;
	width: 200px;
	border:solid 2px #00BFFF;
	background-color: #34314c;
	color: #00BFFF;
	font-size: 30px;	

}
#days {
	display:inline;
	width: 200px;
	text-align: center;
	border:solid 2px #00BFFF;
	background-color: #34314c;
	font-size: 30px;
	color: #00BFFF
	;
	
}
#years {
	display:inline;
	width: 200px;
	height: 40px;
	text-align: center;;
	border:solid 2px #00BFFF;
	background-color: #34314c;
	font-size: 30px;
	color:#00BFFF
	;
	
}
.overlay {

	justify-content:center;
	text-align: center;
	background-color: #9055A2;
	color: #D499B9;
	font-size: 100pt;
	width: 100vw;
	line-height: 100vh;
	
}
.content {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;

}
.column {

	display: flex;
	flex-direction: column;
	
}
.row{

	display: flex;
	flex-direction: row;
	padding-bottom: 1em;

}
#verif:hover {
	
	cursor: pointer;
	background-color:#00BFFF
	;
	color:#FFF;

}






