body {
	padding: 0;
	margin: 0;
	background-color: #34314c;
}

.error {
	text-align: center;
	background-color: #ff7473;
	color:#fff;
}

.valider {
	border:solid 2px #47b8e0;
	background-color: #34314c;
	color: #47b8e0;
	
}
#mois {
	border:solid 2px #47b8e0;
	background-color: #34314c;
	color: #47b8e0;
}
input {
	border:solid 2px #47b8e0;
	background-color: #34314c;
	color: #47b8e0;

}
 .content {
 	text-align: center;
 }

 .overlay {
 	background-color: #D499B9;
 	font-size: 100pt;
 	/*height: 100vh;*/
 	text-align: center;
 	padding-top: 15%;

 }
