body {

	padding: 0;
	margin: 0;
	background-color: #34314c;
	color:#47b8e0;
	font-family: "Open Sans", "Sans Serif";	

}
.error {
	
	font-size: 30px;
	text-align: center;
	background-color: #ff7473;
	color:#fff;

}
#verif {

	margin-left: 200px;
	border:solid 2px #47b8e0;
	background-color: #34314c;
	color: #47b8e0;
	font-size: 30px;
	width: 200px;

}
#restart {
	
	margin-left:700px;
	width:90px;
	height:90px;
	box-shadow:2px 2px 8px ; 
	border-radius:50%;
	position: absolute;
	top:45px;
	background-color: transparent;
	color: #D499B9;
	font-size: 30px;
}
#mois {

	width: 200px;
	border:solid 2px #47b8e0;
	background-color: #34314c;
	color: #47b8e0;
	font-size: 30px;	

}
#days {

	width: 200px;
	text-align: center;
	border:solid 2px #47b8e0;
	background-color: #34314c;
	font-size: 30px;
	color: #47b8e0;
	
}
#years {

	width: 200px;
	height: 40px;
	text-align: center;;
	border:solid 2px #47b8e0;
	background-color: #34314c;
	font-size: 30px;
	color:#47b8e0;
	
}
.overlay {

	display: flex;
	justify-content:center;
	display : none;
	text-align: center;
	background-color: #9055A2;
	color: #D499B9;
	font-size: 100pt;
	height: 100vh;
	width: 100vw;
	line-height: 100vh;
	
}
.content {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}
.column {

	display: flex;
	flex-direction: column;
	
}
.row{

	display: flex;
	flex-direction: row;
	padding-bottom: 1em;

}
#verif:hover {
	
	cursor: pointer;
	background-color:#47b8e0;
	color:#FFF;

}






